.container-fluid{class: "form_for_service"}
  .page-header
    %h3 Добавить услугу
  = simple_form_for([:admin, @service], remote: true) do |f|
    .form-inputs
      = f.text_field :name, class: "form-control", placeholder: "Name"
      = f.text_area :description, class: "form-control", placeholder: "Description"
      .input-group
        %span{class:"input-group-addon"}$
        = f.text_field :price, class: "form-control", placeholder: "Price"
      .jumbotron
        = f.file_field :picture
      - if Service.where(featured: true).size < 3
        = f.input :featured, as: :radio_buttons
      - else
    .form-actions
      = f.button :submit, class: "btn btn-success"
