:javascript
  var BASE_URL = '#{root_path}';
%script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"}
%script{:src => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"}
.container-fluid{class: "homepage"}
  .container-fluid{class: "wrapperhome"}
    .container-fluid{class: 'home-slider'}
      #modalLocation.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
        .modal-dialog{class: "locate"}
          .modal-content
            .modal-header
              %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                %span{"aria-hidden" => "true"} ×
              %h4#modalLocation.modal-title Как нас найти:
            .modal-body
              .container-fluid{class: "locationmap"}
              %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed/v1/place?key=AIzaSyCgrVaN9PGXxewn3rv5XhDHsD-YUgfkc54&q=Служба+охорони+Кобра", :style => "border:0", :width => "100%"}
            .modal-footer
      .container-fluid{class: 'slider-item1', id: 'si1', :style => %(background:url("http://res.cloudinary.com/dbyqfamwg/image/upload/v1433948892/apartments-med-what-makes-a-building-decozt-architecture-building-design-idea-with-photo-gallery-in-modern-style-strategies-council-what-makes-a-building-green-for-modern-architecture-apartment-design_vqk7dg.jpg") no-repeat center; background-size: 100% 100%)}
        .col-lg-5
          .container-fluid{class: "serviceadvantage"}
            .container-fluid{class: "firsttwo"}
              .img-circle{class: "firstpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435403252/Timer_clock_512_copy_ccz5kq.png', width: "100%", height: "100%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "#{@featfirst[0].name}", :type => "button" )
              .img-circle{class: "secondpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435403643/policecar_aejzdc.png', width: "90%", height: "90%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "#{@featfirst[0].name}", :type => "button")
            .container-fluid{class: "secondtwo"}
              .img-circle{class: "thirdpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435404575/paper_pencil_and_a_calculator_dsswh3.png', width: "80%", height: "80%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "#{@featfirst[0].name}", :type => "button" )
              .img-circle{class: "fourthpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435404741/shield_ld9ipe.png', width: "90%", height: "90%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "#{@featfirst[0].name}", :type => "button")
        .col-lg-7
          .container-fluid{class: "servicedescription"}
            - if @featfirst.nil?
            - else
              - if @featfirst[0].nil?
              - else
                .page-header
                  %h1= @featfirst[0].name + " в Херсоне и области"
                %p=@featfirst[0].description
          .container-fluid{class: "serviceprice"}
            %h2
              = "от " + @featfirst[0].price + " грн/мес."
          .container-fluid{class: "serviceactions"}
            = link_to 'Детальніше', @featfirst[0], class: "btn btn-danger btn-lg servicereadmore"
            = link_to 'Замовити', @featfirst[0], class: "btn btn-success btn-lg serviceorder"
        .col-lg-1
      .container-fluid{class: "locationbuttons"}
        %table
          %tr
            %td{class: "firstpos"}
              %span.glyphicon.glyphicon-briefcase
              %p Для Бизнеса
            %td{class: "secondpos"}
              %img(src="https://cdn3.iconfinder.com/data/icons/buildings-places/512/departments-128.png")
              %p Для Квартиры
            %td{class: "thirdpos"}
              %span.glyphicon.glyphicon-home
              %p Для Дома
        .col-lg-3
      .container-fluid{class: 'slider-item1', id: 'si2', :style => %(background:url("http://res.cloudinary.com/dbyqfamwg/image/upload/v1434039745/finding-the-best-and-amazing-living-room-design-ideas-home-maximizing-interior-design-small-living-room-to-make-it-more-spacious_a9d9c3.jpg") no-repeat center; background-size: 100% 100%)}
        .col-lg-5
          .container-fluid{class: "serviceadvantage"}
            .container-fluid{class: "firsttwo"}
              .img-circle{class: "firstpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435403252/Timer_clock_512_copy_ccz5kq.png', width: "100%", height: "100%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "#{@featfirst[0].name}", :type => "button" )
              .img-circle{class: "secondpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435403643/policecar_aejzdc.png', width: "90%", height: "90%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "Tooltip on right", :type => "button")
            .container-fluid{class: "secondtwo"}
              .img-circle{class: "thirdpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435404575/paper_pencil_and_a_calculator_dsswh3.png', width: "80%", height: "80%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "Tooltip on right", :type => "button" )
              .img-circle{class: "fourthpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435404741/shield_ld9ipe.png', width: "90%", height: "90%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "Tooltip on right", :type => "button")
        .col-lg-7
          .container-fluid{class: "servicedescription"}
            - if @featfirst.nil?
            - else
              - if @featfirst[1].nil?
              - else
                .page-header
                  %h1= @featfirst[1].name + " в Херсоне и области"
                %p=@featfirst[1].description
          .container-fluid{class: "serviceprice"}
            %h2
              = "Всего за " + @featfirst[1].price + " грн/мес."
          .container-fluid{class: "serviceactions"}
            = link_to 'Детальніше', @featfirst[1], class: "btn btn-danger btn-lg servicereadmore"
            = link_to 'Замовити', @featfirst[1], class: "btn btn-success btn-lg serviceorder"
        .col-lg-1
      .container-fluid{class: "sliderlocation"}
      .container-fluid{class: 'slider-item1', id: 'si3', :style => %(background:url("http://res.cloudinary.com/dbyqfamwg/image/upload/v1433954128/contemporary-traditional-textured-interior-architecture-by-by-olcay-saymar-best-living-room-picture-cwss_lruol0.jpg") no-repeat center; background-size: 100% 100%)}
        .col-lg-5
          .container-fluid{class: "serviceadvantage"}
            .container-fluid{class: "firsttwo"}
              .img-circle{class: "firstpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435403252/Timer_clock_512_copy_ccz5kq.png', width: "100%", height: "100%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "#{@featfirst[0].name}", :type => "button" )
              .img-circle{class: "secondpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435403643/policecar_aejzdc.png', width: "90%", height: "90%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "Tooltip on right", :type => "button")
            .container-fluid{class: "secondtwo"}
              .img-circle{class: "thirdpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435404575/paper_pencil_and_a_calculator_dsswh3.png', width: "80%", height: "80%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "Tooltip on right", :type => "button" )
              .img-circle{class: "fourthpic"}
                = image_tag('http://res.cloudinary.com/dbyqfamwg/image/upload/v1435404741/shield_ld9ipe.png', width: "90%", height: "90%", "data-placement" => "right", "data-toggle" => "tooltip", :title => "Tooltip on right", :type => "button")
        .col-lg-7
          .container-fluid{class: "servicedescription"}
            - if @featfirst.nil?
            - else
              - if @featfirst[2].nil?
              - else
                .page-header
                  %h1=@featfirst[2].name + " в Херсоне и области"
                %p=@featfirst[0].description
          .container-fluid{class: "serviceprice"}
            %h2
              = "Всего за " + @featfirst[2].price + " грн/мес."
          .container-fluid{class: "serviceactions"}
            = link_to 'Детальніше', @featfirst[2], class: "btn btn-danger btn-lg servicereadmore"
            = link_to 'Замовити', @featfirst[2], class: "btn btn-success btn-lg serviceorder"
        .col-lg-1
      .container-fluid{class: "sliderlocation"}